# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.ReciclandoConstruyo.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\idazb\RiderProjects\ReciclandoConstruyo\.idea\.idea.ReciclandoConstruyo.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
